<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">Profile</div>
            <div class="card-body">
              <% for (let img of employer.image) {%>
                <img src="<%= img.url %>" alt="profile-img" class="rounded" width="100px">
                <% } %>  
              <h5 class="card-title"><%= employer.name %> <%= employer.lastName %> </h5>
              <p class="card-text"><%= employer.email %></p>
              <p class="card-text"><%= employer.phone %></p>
              <p class="card-text"><%= employer.description %></p>
              <a href="/employer/<%= employer._id %>/edit-profile" class="btn btn-primary">Edit Profile</a>
            </div>
          </div>
    </div>
</div>
