<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../layouts/header') %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%- include ('../layouts/navigation') %> <%- include ('../layouts/sidebar') %> 
      <%- include ('../layouts/program') %> <%- include ('../layouts/footer') %> 
      <%- include ('../layouts/control-sidebar') %>
    </div>
    <!-- ./wrapper -->
    <%- include ('../layouts/js') %>
  </body>
</html>
